asgiref
certifi
charset-normalizer
Django
django-cors-headers
gunicorn
idna
numpy
packaging
pandas
python-dateutil
python-dotenv
pytz
requests
six
sqlparse
tzdata
urllib3
whitenoise
pillow
openai
elasticsearch
psutil
psycopg2-binary