body{
    background-color: #787f7f;
}



h1.field_label{
    font-family:"Roboto";
    font-size:20px;
    color:#596767;
    line-height:0px;
}

img.design{
    border-radius: 10px;
    max-height: 550px;
    max-width:100%
}

/* canvas.design{
   
    max-height: 550px;
    max-width:100%
} */

div.container {
    border-radius: 10px;

}

div.design.container{
    display:grid;
    align-items:center;
    justify-items: center;
    padding:10px;
    margin-right:15px;
}

div.dark.container{
    background-color: #a9b9b9;
    border-radius: 10px;
    border:2px solid #d2e2e2
}

div.light.container{
    background-color: #bdc7c7;
    border-radius: 10px;
    border:2px solid #5d6565
}

div.listing.container {
    width:1000px;
    height:auto;    
    padding:10px;
    margin:20px
}

div.listing_info.container{
    display:grid;
    grid-template-rows:1fr 100px;
    padding:10px;
    min-height:350px;
}

div.label.container{
    margin-bottom:20px;
}

h1.listing_info.label{
    font-family:"Roboto";
    color:#6f7a7a;
    font-size:14px;
    margin:0px;
}

textarea.field{
    font-family:"Roboto";
    font-size:18px;
    width:550px;
    background-color: #bdc7c7;
    border-radius:5px;
    border:0px;
}


div.separator{
    height:2px;
    background-color:#969d9d;
}

div.button.add_color{
    display:grid;
    align-items: center;
    justify-items: center;
    width:35px;
    height:35px;
    border:2px solid #969d9d;
    border-radius:50px;
}





h1.field.add_color{
    font-family:"Roboto";
    color:#6f7a7a;
    font-size:36px;
    font-weight: bold;
    margin:0px;
    line-height: 0px;

}

div.add_color.container{
    display:flex;
    border:2px solid #969d9d;
    border-radius:50px;
    padding:5px;
    align-items:center;
    gap:10px;
}

div.color_swatch{
    width:50px;
    height:50px;
    border-radius: 50%;
    padding: 0;
    border: 5px solid #DDD;
    display:grid;
    align-items:center;
    justify-items:center
  }

  div.color_swatch.mixed{
    border: 0px;
}

div.color_swatch.empty{
    background: #a9b9b9;
    border: 0px;
}

div.color_swatch.no_fill{
    border: 0px;
}

div.color_swatch.black_fill{
    border: 0px;
}

div.color_swatch.invalid{
    border: 0px;
}

div.color_swatch.spread_values:hover{
    background-color: #96a8a8;
}

div.color_option_container{
    display:flex;
    gap:10px
}

div.color_swatch.palette {
    width:10px;
    height:10px;
    border-radius:25px;
    border:2px solid #dddddd;
    display:grid;
    align-items: center;
    justify-items: center;

}

div.color_swatch.palette.container {
    display:flex;
    background-color:#bdc7c7;
    border: 2px solid #969d9d;
    border-radius:10px;
    padding:5px;
    padding-bottom:15px;
    align-items:center;
    height:auto;
    width:auto;

}

div.color_swatch.palette.container:hover{
    border:2px solid #338484;
    background-color:#dbe3e3
}

div.color_labels.container{
    background-color:#a9b9b9;
    border: 2px solid #d2e2e2;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:5px;
    width:auto;
    height:auto;
    padding:10px;
}

div.color_palette.selected_color{
    height:50px;
    width:100px;
    background-color:antiquewhite
}

div.color_palette.container{
    justify-items:center;
    width:300px;
    padding:5px;
    background-color:#bdc7c7;
    margin:5px;
}

div.color_palette.container.off{
    display:none;
}

div.color_palette.container.on{
    display:grid;
}

div.color_palette{
    position:absolute;
}

div.reference_panel{
    background-color:#dddddd;
    border:1px solid #cdcdcd;
    width:15px;
    height:15px;
    
}

div.reference_panel.selected{
    width:66px;
    height:4px;
}

div.reference_panel.container{
    width:68px;
    height:30px;
    display:flex;
    flex-wrap: wrap;
    background-color:#d2e2e2
}


div.data.container{
    display:none;
    position:absolute;
    justify-items:center;
    width:300px;
    padding:15px;
    background-color:#bdc7c7;
    margin:5px;
}

div.pixel_selection.container{
    /* display:none;
    position:absolute; */
    display:flex;
    justify-items:center;
    background-color:#bdc7c7;
    margin:5px;
    border:0px;
}

textarea.pixel_selection.field {
    background-color: #dddddd;
    width:40px;
    height:20px;
    border: 1px solid #939393;
    text-align: center;
    font-size:16px;
    resize:none
}



div.pixel_selection.panel{
    display:grid;
    grid-template-columns:35px 1fr;
    align-items:center;
    justify-items:center;

}

div.pixel_selection.threshold.container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    width:125px;
    align-items:center;
}

div.pixel_selection.tool.indicator{
    width:9px;
    height:9px;
    background-color:#409393;
    border: 1px solid #f4f4f4;
    border-radius:100%;
    position:relative;
    top:40px;
    left:12px;
    display:none;
}

div.pixel_selection.tool.indicator.active{
    display: block;
}




div.control_button{
    border: 2px, solid, #939393;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
}

div.pixel_selection.selected_color.container{
 

}

div.color_swatch.rectangle.empty{
    display:flex;
    gap:5px;
    background-color:#a9b9b9;
    height:18px;
    width:120px;
    border-radius:5px;
    padding:3px;

}

div.selected_color {
    margin:1px;
    margin-right:5px;
    margin-left:5px;
    display:flex;
}

div.pixel_selection.selected_colors.panel{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin:auto;
    

}

div.color_swatch.pixel_selection{
    border:0px
}

img.pixel_selection.icon{
    width:35px;
    height:35px;
}

div.pixel_selection.tool.container {
    display:grid;
    grid-template-rows:50px 50px 50px;
    /* opacity:.25; */
}


div.layer_control.container{
    display:flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    padding:3px;
    margin:3px;
    border-radius: 5px;
}

div.layer_control.container.active{
    background-color: #8a9f9f;
}

div.color_swatch.pixel_highlight{
    width:18px;
    height:18px;
    border:2px solid #6f7a7a
}

div.color_swatch.remove_layer{
    width:18px;
    height:18px;
    border:none;
    border:2px solid #6f7a7a
}


div#add_layer_button{
    display:grid;
    align-items:center;
    justify-items:center; 
    width:20px;
    height:20px;    
    border:2px solid #969d9d;
    border-radius:100%;
    margin:auto;
}

div.pixel_selection.layers.container{
    display:flex;
    flex-direction: column;
    background-color: #a9b9b9;
    border-radius:10px;
    justify-items: center;
}

div.pixel_selection.layers.panel{
    display:block;
}

canvas.layer_canvas{
    display:none
}

canvas.layer_canvas.active{
    display:block
}


canvas.design{
    display:none;
}

canvas.design.active{
    display:block;
}

img.label_option.thumbnail {
    height:75px;
    border-radius: 10px;
    border:1px solid #3c5050;
    cursor:pointer;
}

img.label_option.thumbnail.expanded {
    width:400px;
    height:auto;
    border-radius: 10px;
    border:1px solid #3c5050;
 
}

button.label_option.button {
    width:125px;
    height:35px;
    background-color: #a9b9b9;
    border: 2px solid #8a9c9c; 
    border-radius: 10px;
    pointer-events:none;
    
}

button.label_option.start_labelling {
    background-color: #a9b9b9;
    border: 2px solid #8a9c9c; 
    border-radius: 10px;
    pointer-events: auto;
}


button.label_option.button.yes {
    background-color: #8eb284;
}

button.label_option.button.no {
    background-color: #bd4444;
}

button.label_option.button:active {
    width:125px;
    height:35px;
    background-color: #8ba7a7;
    border: 2px solid #8a9c9c; 
    border-radius: 10px;
    cursor:pointer;
    
}

div.label_option.thumbnail.container {
    display:flex;
    flex-direction:column;
    padding:4px;
    border:2px solid #d3e3df;

}

div.label_option.thumbnail.container.correct {
    background-color: #8eb284;
    
}

div.label_option.thumbnail.container.incorrect {
    background-color: #bd4444;
    
}

div.label_option.thumbnail.panel{
    flex-wrap:wrap;
    display:flex;
    gap:5px;
}

div.label_option.label.container{
    display:grid;
    justify-items: center;
}

div.label_options.container.horizontal{
    display:flex;
    flex-wrap:wrap;
    gap:15px;

}


div.label_option.example.panel {
    display:flex;
    gap:10px;
    padding:5px;
    background-color: #a9b9b9;   
    border-radius:15px;
    border:2px solid #d2e2e2
}

h1.label_option{
    font-family:"Roboto";
    color:#282b2b;
}

h2.label_option{
    font-family:"Roboto";
    color:#ffffff;
    font-size:16px;
    font-weight:400;
    text-align: center;
    line-height:0px;
}

h3.label_option.example.copy{
    font-family: "Roboto";
    font-weight:400;
    color:#c1d2d2;
    text-align:center;

}

h1.label_option.example{
    font-size:24px;
    border-radius: 15px;
    background-color: #c1d2d2;
    padding:3px;

}

h1.label_option.intro{
    font-size:18px;
    font-weight:500;
}

h1.label_option.rule{
    margin-left:5px;
    font-size:16px;
    font-weight:400;

}

h1.label_option.label{
    font-size:22px;
    line-height:0px
}


div.label_option.rule_container{
    display:grid;
    grid-template-rows: auto auto;
    background-color: #c7d5d5;
    padding:5px;
    margin:5px;
    border-radius: 15px;
}

img.label_option.example{    
    width:100%;
    border-radius: 15px;
    border:2px solid #d2e2e2
}

div.label_option.example.container{
    display:none;
    width:800px;
    height:400px;
    gap:25px;
    background-color:#5d6565;
    border-radius:15px;
    border:2px solid  #d2e2e2;
    padding:10px;
}

div.label_option.example.container.active{
    display:flex;
}


div.label_option.expanded.example{
    display:none;
    background-color: #bdc7c7;
    padding:20px;
    border-radius: 15px;
    border: 1px solid black;
    z-index:3;


}

div.label_option.rule_validator {
    display:flex; 
    align-items:center; 
    gap:5px;
    padding:5px;
    margin:10px
}

div.label_option.rule_validator.active {
    background-color:#bad7d7;
    border-radius:15px;    
    border:2px solid #409393
}

div.label_option.button.panel{
    margin-top:25px;
    display:flex;
    flex-direction: row;
    gap:15px;
    
}

div.label_option.button.container{
    padding:10px;
}

div.label_option.button.container.open{
    opacity:.25;
}

div.label_option.button.container.closed{
    opacity:1;
}

div.label_option.button.container.active{
    background-color:#bad7d7;
    border-radius:15px;    
    border:2px solid #409393;
    opacity:1;
}

input.label_option.submit.button {
    background-image: url("/static/images/yes_icon.png");
    background-size: contain;      
    background-position: center;   
    background-repeat: no-repeat;  
    background-size:30%;
    font-family: "Roboto";
    font-weight:400;
    font-size:16px;
    height:35px;
    color:white;
    background-color: #a9b9b9;
    border: 2px solid #8a9c9c; 
    border-radius: 10px;
    cursor:pointer;
    padding:20px;
    line-height:0px;
    margin:10px;
   
    
}

div.submit.button.container{
    background-color:#bad7d7;
    border-radius:10px;    
    border:2px solid #409393;
    opacity:1;
    display:none;
    margin:auto;
    margin-top:25px;
    margin-bottom:25px;
    width:250px;
    padding:15px;
}

div.label_option.reset.button{
    text-align: center;
    margin-top:20px;
    justify-self: right;
    align-self:end;
    cursor: pointer;
}

img.key.icon{
    height:25px;
}

img.key.light.icon{
    filter:brightness(300%)
}


div.separator{
    width:5px;    
    height:55px;
    background-color:#536565
}

.radio_button{
    pointer-events: none;
}

.radio_button.view{
    pointer-events:auto;
}

.radio_button.rule_violation {
    pointer-events:auto;
    opacity:1;
}

div.label_option.response.container{
    display:flex;
    flex-direction: column;
    gap:10px; 
    justify-content:left;


}

div.label_option.labeler_response{
    width:75px;
    background-color:#338484;
    text-align: center;
    border-radius:5px;
    line-height: 0px;
    padding:2px;
}

div.label_option.labeler_response.yes{
    background-color:#8eb284;
}

div.label_option.labeler_response.no{
    background-color:#bd4444;
}

h1.label_option.text.response{
    font-family: "Roboto";
    font-size:18px;
    color:white   
}


div.label_option.popup.container{
   display:none;
   background-color:#a9b9b9 ;
   border-radius: 10px;
   border:2px solid #d2e2e2; 
   padding:10px;
   margin-top:35px;
}


div.label_option.directive.panel{

    display:none;

}

div.label_option.response_feedback{
    display:none;
    background-color: #bd4444;
    border:2px solid #d3e3df;
    border-radius:10px;
    padding:5px;
    align-items: center;
    justify-items: center;
    width:200px;
    height:50px;
    justify-self:center

}