div.model_view.container{
    background-color: #799494;
    display:flex; 
    flex-direction: column; 
    gap:5px; 
    margin:5px; 
    padding:5px;
}

div.model_view.container.production{
    background-color: #9bb8b8;
}

h1.option.title{
    line-height: 1;
}


div.option.panel.model_results{
    display:flex;
    flex-wrap: wrap;
    margin:10px;
}


div.option.button.rectangle.model_results{
    margin:10px
}

div.text_field.large.container{
    display:grid;
    align-content: end;
    background-color: #ff8c00;
    border-radius: 10px;
    margin:auto;
    width:80px;
}

div.text_field.large.container.validation{
    background-color: #ff8c00;
}

div.text_field.large.container.validation{
    background-color: #ffd900;
}

div.text_field.large.container.auc{
    background-color: #7be06b;
}

h1.text_field{
    font-family:roboto;
    font-size:20px;
    margin:0px;
    color:black;
    text-align:center;
    align-self:end;
}

h5.text_field{
    font-family:roboto;
    font-size:14px;
    color:#364a4a;
    margin:0px;
    text-align:center;
    font-weight:300;
}

div.model_label.badge{
   display:grid; 
   align-items:center; 
   justify-items: center; 
   border-radius:50px; 
   background-color:#3e6868; 
   height:20px; 
   width:20px;
   padding:10px;
}

div.model_label.badge.small{
    display:grid; 
    align-items:center; 
    justify-items: center; 
    border-radius:50px; 
    background-color:#3e6868; 
    height:40px; 
    width:40px;
    padding:5px;
 }


h1.text_field.badge{
    font-size:36px;
    font-family:roboto;
    line-height: 0px;
    align-self:auto;
    color:#d2e2e2;
}

h1.text_field.rule_title{
    font-family:roboto;
    font-size:14px;
    color:#364a4a;
    margin:0px;
    text-align:left;
 
}


h1.text_field.confusion_metrics{
    font-family:roboto;
    font-size:14px;
    color:#364a4a;
    margin:0px; 
}

h1.text_field.badge.label{
    font-family:roboto;
    font-size:20px;
    color:#d2e2e2;
    margin:0px; 
}

h1.text_field.badge.title{
    font-family:roboto;
    font-size:24px;
    color:#364a4a;
    margin:0px; 
    align-self:center;
    font-weight:300
}

h1.text_field.badge.small{
    font-size:18px;
}

div.option.button.circle.model_label.view_model_results{

    width:40px;
    height: 40px;

}

div.model_type.badge{
    width:30px;
    height:10px;
    border-radius: 5px;
    background-color: #3e6868;
    margin:auto;
    margin-top:5px;

}

div.model_type.badge.simple_classifier{
    background-color: #efa34c;
}

div.model_type.badge.EfficientNetVB20{
    background-color: #c58d89;
}

div.model_type.badge.EfficientNetV2L{
    background-color: #b6645b;
}

div.model_type.badge.EfficientNetVB10{
    background-color: #b6645b;
}

div.model_type.badge.EfficientNetV2S{
    background-color: #a44136;
}

div.model_type.badge.transformer_w_MobileNetV2{
    background-color: #c444c4;
}

div.model_type.badge.transformer_w_EfficientNet{
    background-color: #e82be8;
}

div.performant_status.view_model_results{
    width:10px;
    height:20px;
    border-radius: 3px;
    background-color: #d2e2e2;
}

div.performant_status.view_model_results.no{
    background-color: #bd4444;
}

div.performant_status.view_model_results.yes{
    background-color: #8eb284;
}

div.performant_status.view_model_results.close{
    background-color: #d5d68f;
}