{% extends 'site_header.html' %}
{% load static %}

    {% block content %}
    
        {% if task_type == 'art_type' %}
            {% include 'label_art_type.html'%}
        {% endif %}


        {% if labeler_source == 'MTurk' %}
            <form id="submit_labels" action="https://workersandbox.mturk.com/mturk/externalSubmit" method="post" labeler_source = {{labeler_source}}>
                <div class = 'listing light container'>
                    <div class = 'submit button container' >

                        <h1 class = 'listing_info label'>Return to Mechanical Turk?</h1>

                        <input type="hidden" name="assignmentId" value="{{assignment_id}}">
                        <input type="hidden" name="hitId" value="hit_id">
                        <input type="hidden" name="response" value= "completed">
                        <input type="submit" id="submitButton" class = 'label_option submit button' value="" name="submitButton">            

                    </div>
                </div>
            </form>
        {% else %}
            <form id="submit_labels" labeler_source = {{labeler_source}} > <!-- Action is empty to reload the page -->
                


                <div class='listing light container'>
                    <div class='submit button container'>
                        <h1 class='listing_info label'>Load more images to label?</h1>
                        <input type="submit" id="localSubmitButton" class='label_option submit button' value="">
                    </div>
                </div>
            </form>

        {% endif %}

    {% endblock %}