{% extends 'site_header.html' %}
{% load static %}

{% block content %}


<div class = 'light container'>

        <div id = selected_options 
            task_type = {{selected_options.task_type}}
            labeler_id = {{selected_options.labeler_id}}
            rule_index = {{selected_options.rule_index}}
            >
        </div>

        <div class="option_container" style = 'display:flex; flex-direction: row; flex-wrap: wrap;'>

            <div style = 'margin:5px; width:100%'>
                <h1 id = 'title' class = 'listing_info label'> Select your labeler id</h1>
                <select id="labeler_id" class = 'title_font field_label' name="labeler_id">

                    {% for labeler_id in session_options.labeler_ids %}
                        <option value="{{ labeler_id.labeler_id }}">{{ labeler_id.labeler_id }}</option>
                    {% endfor %}
                        <option value="add_a_labeler">add labeler</option>

                </select>
            </div>

            <div class="text_field container" id="add_a_name_field" >
                <input type="text" placeholder="Enter new labeler ID" class="title_font field_label" style="margin:5px;">
            </div>
            
            
            <div style = 'margin:5px; width:100%'>
                <h1 id = 'title' class = 'listing_info label'> Select task type</h1>

                <div style = 'display:flex; flex-wrap: wrap; flex-direction: row; gap:10px'> 

                    {% for task_type in session_options.task_types%}
             
                        <div class = 'option button rectangle task_type' task_type = {{task_type.task_type}}> 
                            <h1 class = 'option title'>{{task_type.task_type}}</h1>
                        </div>  
                    {% endfor %}
        
                </div>
            </div>

        </div>

        {% for task_type in session_options.task_types %}

            <div class = 'batch_control container' task_type = {{task_type.task_type}}>
            
                <div class = 'option_container'  style = 'display:flex; flex-wrap: wrap; flex-direction: row; gap:10px'>
                    
                    <div style = 'margin:5px; width:100%'>
                        <h1 id = 'title' class = 'listing_info label'> Select rule to label</h1>
                        <div style = 'display:flex; flex-wrap: wrap; flex-direction: row; gap:10px'> 
                            {% for labeling_rule_option in session_options.labeling_rule_options  %}
                                {% if labeling_rule_option.task_type == task_type.task_type %} 

                                    <div class = 'option button rectangle rule_option' rule_index = {{labeling_rule_option.rule_index}}> 
                                        <div style="display: grid; grid-template-rows: 20px 20px 20px; justify-items: start; text-align: left;">

                                            <div style = 'display:grid; width:200px; grid-template-columns: 50px auto; align-items:center'>
                                                <h1 style = 'margin-left:0' class="option title">rule {{ labeling_rule_option.rule_index }}</h1>
                                                {% for batch in session_options.batch_stats %}
                                                {% if batch.rule_index == labeling_rule_option.rule_index and batch.task_type == task_type.task_type %} 
                                                <div style = 'text-align:right' >
                                                    <h3 class = 'option title' style = 'padding:5px;' >
                                                        {{batch.total_labels}} / {{batch.total_assets}}
                                                    </h3>
                                                </div>
                                                {% endif %}
                                            {% endfor %}   
                                            </div>

                                            <h3 style = 'margin-left:0' class="option title">{{ labeling_rule_option.title }}</h3>


                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}        
                        </div>
                    </div>
                </div>

                <!-- {% for batches in session_options.batch_by_rule_stats%}
                    
                    {% for temp in batch.records %}
                        {{temp}}
                    {% endfor %}
                {% endfor %} -->


                <div class = 'option_container'  >
                
                        <h1 id = 'title' class = 'listing_info label'>Select a batch to work on:</h1>

                        <div style = 'display:flex; flex-wrap:wrap; flex-direction:row; gap:10px;'>
                            
                            {% for batches in session_options.batch_by_rule_stats  %}
                                {% for batch in batches.records %}
                                    

                                    {% if batches.task_type == task_type.task_type %}

                                        <div class = 'batch indicator container' rule_index = {{batch.rule_index}} >
                                                
                                                        {% if batch.percent_remaining == 0 %}
                                                            <div class = 'batch indicator completed' batch_index = {{batches.large_sub_batch}} >     
                                                        {% else %}
                                                            {% if batch.percent_remaining > .25 %}
                                                                <div class = 'batch indicator' batch_index = {{batches.large_sub_batch}} style= 'opacity:{{batches.percent_remaining }}'>  
                                                            {% else %}
                                                                <div class = 'batch indicator' batch_index = {{batches.large_sub_batch}} style= 'opacity:.35'>   
                                                            {% endif %}  
                                                        {% endif %}
                                                            
                                                                <h1 style = 'text-align:center' class = 'listing_info label'>Batch: {{batches.large_sub_batch}}</h1> 
                                                                <h1 style = 'text-align:center' class = 'listing_info label'>{{batch.samples}}</h1>
                            
                                                                <div style = 'display:flex; gap:5px'>
                                                                    <div class = 'label_count field'>
                                                                        <h1 style = 'text-align:center' class = 'listing_info label'>No Labels: {{ batch.no_labels|floatformat:0  }}</h1>
                                                                    </div>

                                                                    <div class = 'label_count field'>
                                                                        <h1 style = 'text-align:center' class = 'listing_info label'>One Label: {{ batch.one_label|floatformat:0  }}</h1>
                                                                    </div>
                                                                </div>

                                                        </div>
                    
                                        </div>  
                                    {% endif %}
                                        
                                    
                                {% endfor %}
                            {% endfor %}
                           

                        </div>
                
                
                </div>
                
            </div>
        {% endfor %}

        <button class = 'get_images' onclick = 'show_images_wo_labels()'>            
            <h1 class = 'title_font field_label'> Start Labeling</h1>
        </button>   

</div>

{% endblock %}