{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

      <link rel="stylesheet", href = "{% static 'css/show_images.css' %}">
      <link rel="stylesheet", href = "{% static 'css/setup_session.css' %}">
      <link rel="stylesheet", href = "{% static 'css/slider.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_asset_labels.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_labels.css' %}">
      <link rel="stylesheet", href = "{% static 'css/manage_rules.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_batch_labels.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_prediction_labels.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_asset.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_label_issues.css' %}">
      <link rel="stylesheet", href = "{% static 'css/label_testing.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_model_results.css' %}">
      <link rel="stylesheet", href = "{% static 'css/view_primary_colors.css' %}">
      <link rel="stylesheet", href = "{% static 'css/line_width_palette.css' %}">

      <script type="text/javascript" src = "{% static 'js/setup_session.js'%}"></script>  
      <script type="text/javascript" src = "{% static 'js/view_mturk_response.js'%}"></script>
      <script type="text/javascript" src = "{% static 'js/show_images.js'%}"></script>   
      <script type="text/javascript" src = "{% static 'js/label_tools.js'%}"></script>   
      <script type="text/javascript" src = "{% static 'js/label_primary_colors.js'%}"></script> 
      <script type="text/javascript" src = "{% static 'js/flood_fill_tool.js'%}"></script>   
      <script type="text/javascript" src = "{% static 'js/full_fill_tool.js'%}"></script>  
      <script type="text/javascript" src = "{% static 'js/brush_tool.js'%}"></script>  
      <script type="text/javascript" src = "{% static 'js/view_asset_labels.js'%}"></script> 
      <script type="text/javascript" src = "{% static 'js/view_labels.js'%}"></script>   
      <script type="text/javascript" src = "{% static 'js/api_calls.js'%}"></script>  
      <script type="text/javascript" src = "{% static 'js/manage_rules.js'%}"></script>  
      <script type="text/javascript" src = "{% static 'js/view_prediction_labels.js'%}"></script>  
      <script type="text/javascript" src = "{% static 'js/general_functions.js'%}"></script>  
      <script type="text/javascript" src = "{% static 'js/view_model_results.js'%}"></script> 
      <script type="text/javascript" src = "{% static 'js/view_asset.js'%}"></script> 
      <script type="text/javascript" src = "{% static 'js/view_primary_colors.js'%}"></script> 
      <script type="text/javascript" src = "{% static 'js/line_width_palette.js'%}"></script> 
      <script type="text/javascript" src = "{% static 'js/select_line_widths.js'%}"></script> 

      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1691.0.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.js"></script>


  </head>
 
  <body>

    <button onclick="window.location.href='/label_images/front_page/'" style="
        top: 10px;
        left: 10px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #799494;
        color: #d2e2e2;
        border: solid 2px #d2e2e2;
        border-radius: 5px;
        cursor: pointer;">
        Front Page
    </button>

    {% block content %}
    {% endblock %}

  </body>

  