{% extends 'site_header.html' %}
{% load static %}

{% block content %}

    
<div style = 'display:flex; flex-direction: row;'>

    <div class = 'listing light container side_panel'>

        <h1 class = 'label_option intro'>Image Size</h1>

        <div class = 'option container' style = 'display:flex; gap: 15px'>

            <div class = 'option button circle image_size selected' size = 'small'>  <h1 class = 'option title'> S </h1></div>
            <div class = 'option button circle image_size' size = 'medium'>   <h1 class = 'option title'> M </h1></div>
            <div class = 'option button circle image_size' size = 'large'>  <h1 class = 'option title'> L </h1></div>
            <div class = 'option button circle image_size' size = 'extra_large'>  <h1 class = 'option title'> XL </h1></div>

        </div>

        <h1 class = 'label_option intro'>Rule Index</h1>

            <div class = 'option container view_assets_labels' style = 'display:flex; gap:5px'>
                {% for rule_option in rule_options%}
                    <div style = 'display:flex; flex-direction: column; gap:4px; align-items:center'>
                        <div class = 'option button circle rule_index' filter_type = 'rule_index_{{rule_option}}' filter_value = "1">
                            <h1 class = 'option title'> {{rule_option}} </h1>
                        </div>
                        
                        <div class = 'triple_switch container' filter_type = 'rule_index_{{rule_option}}'>
                            <div class = 'option triple_switch_state yes' filter_type = 'rule_index_{{rule_option}}' filter_value = 'yes'></div>
                            <div class = 'option triple_switch_state off' filter_type = 'rule_index_{{rule_option}}' filter_value = 'off'></div>
                            <div class = 'option triple_switch_state no'  filter_type = 'rule_index_{{rule_option}}' filter_value = 'no'></div>
                        </div>

                    </div>
                {% endfor %}
            </div>

           
    </div>

    <div class = 'listing light container' style = 'display:flex; flex-wrap:wrap' >

        {% for asset in labeled_assets %}



                <div id = container_{{asset.asset_id}} class = 'design dark container asset_view image_box' >

                    <div class = 'labeler_data' style = 'display:none' 
                    asset_id = {{asset.asset_id}}
                    rule_index_1 = {{asset.rule_1}}
                    rule_index_2 = {{asset.rule_2}}
                    rule_index_3 = {{asset.rule_3}}
                    rule_index_4 = {{asset.rule_4}}
                    rule_index_5 = {{asset.rule_5}}
                    rule_index_6 = {{asset.rule_6}}
                    rule_index_7 = {{asset.rule_7}}    
                    >
                    </div>


                    <h2 class = 'label_option label'> {{asset.asset_id}}</h2>
                    <img id = "image_{{asset.asset_id}}" class="design view_asset_labels small" src="{{ asset.asset_link }}" crossOrigin="anonymous" >
                </div>


                            
         {% endfor %}
                                 
    


    </div>
</div>


{% endblock %}